 

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.proximo {
	font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.roboto {
	font-family: 'Roboto', sans-serif;
}




body {
	position: relative;
}
.toTop {
	position: fixed;
	width: 72px;
	height: 72px;
	right: 70px;
	bottom: 12%;
	padding: 10px; 
} 
.toTop a {
	background-image: url(../img/to_the_top.png);
	background-position: center;
	background-repeat: no-repeat; 
	border-radius: 50%;
	padding: 40px;
}

a:hover {
	text-decoration: none;
}
nav {
	font-family: 'Montserrat', sans-serif;
}
header {
	position: relative;
	z-index: 9;
	
}
header nav a {
	color: #143561!important;
	font-weight: 400;
	margin-left: 78px;
	font-size: 15px;
}
header nav a{
	margin-left: 75px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 150%;
	/* or 24px */

	display: flex;
	align-items: center;
	text-transform: capitalize;

	color: #143561;
}
nav .active {
	font-weight: bold;
}
.navbar-brand { 
	margin-left: 56px;
	margin-right: 45px;
}
.navbar-text {
	border:2px solid #0067B4;
	padding: 5px; 
	color: #143561!important;
	font-weight: 400;
	border-radius: 6px;
	margin: 10px;
	margin-right: 70px;
	margin-left: 62px;
	padding: 13px 19px;
}
.container  .breadcrumb {
	margin-left: 5px;
}
.row {
	margin-left: -20px;
}
.breadcrumbs {
	background: none!important;
	max-width: 1120px;
	display: block;
	margin: 0 auto;
	margin-top: 0px;

}
#offer2 .breadcrumb {
	margin-top: 120px;
}
.breadcrumb {
	background: none!important;
	margin: 0;
	margin-top: 30px;
	margin-bottom: 90px;
	margin-left: -15px;
	font-size: 0.75rem;
	font-weight: 400;
}

.breadcrumb a{
	color: #ADBDD2;
	margin-right: 4px;
	font-weight: 400;
	font-size: 0.75rem;
}

.breadcrumb-item.active {
	color:#6E7988;
	font-weight: 400;
}

/*кнопка плавающая на запись*/
.zapis {
	position: absolute;
	right: 400px;
	top: 285px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	padding: 15px 27px; 
	background: #0067B4;
	border-radius: 4px;
	text-align: center;
	color: #FFFFFF;
	transition: 1s;
}
.zapis:hover {
	background: #0057b4;
	color: white;
	transition: 1s;
}



#offer {
	background-image: url(../img/blockOffer.jpg);
	min-height: 850px; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: -ms-grid;
	display: grid;
	padding: 10px;
	margin-bottom: 111px;
}
#offer2 {
	background-image: url(../img/blockOffer2.jpg);
	min-height: 443px; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: -ms-grid;
	display: grid;
	padding: 10px;
	margin-bottom: 50px;
	position: relative;
	top: -100px;
	z-index: 1;
	
}
#offer2 h1 {
	margin-left: 20px;
}

.offer_info {
	max-width: 951px;
	display: -ms-grid;
	display: grid;
	-ms-grid-row-align: center;
	align-self: center;
	-ms-grid-column-align: center;
	justify-self: center; 
	padding: 10px;
	margin-top: 144px;
}
.offer_info h1 {
	font-weight: 600;
	font-size: 50px; 
	color: #143561;
	line-height: 130%;
}

.offer_info p {
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	color: #143561;
	margin-top: 28px;
}
.offer_info a {
	color: white;
	background-color: #0067B4;
	padding: 10px 18px;
	text-align: center;
	display: -ms-grid;
	display: grid;
	-ms-grid-column-align: self-start;
	justify-self: self-start;
	margin-top: 52px;
	border-radius: 6px;
}
.offer_info a:hover {
	background-color: #008888;
	text-decoration: none;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
} 

#slider_goods {
	display: -ms-grid;
	display: grid;
}
#slider_goods .choose,
#slider_uslug .choose,
#consulting .choose,
#mision .choose,
#slider_photo .choose {
	max-width: 1140px;
	border-bottom: 1px solid #E6E9EE;
	display: block;
	margin: 0 auto;
	padding: 6px;
	margin-bottom: 5px;
}
#slider_uslug h2 {
	float: left;
	margin-bottom: 11px;
	font-weight: 700;
	color:#143561;
}

#slider_uslug .choose a {
	position: absolute!important;
	right: 0;
	bottom: 15px;
	color: #0066CC;
}


#mision {
	color: #143561;
	font-weight: 400;
	font-size: 0.875rem;
	margin-bottom: 150px;
}
.content {
	margin-top: 47px;
}
#mision .content_text {
	/*	margin-right: 115px;*/
	padding: 0 0 0 115px;
}
#mision img {
	border-radius: 4px 4px 0px 0px;
}

#mision h3{
	font-size: 1.25rem;
	margin-top: 80px;
	margin-bottom: 30px;
}
.content_text2 ul {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(4,1fr);
	margin-left: -43px;
}

.content_text ul {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(3,1fr);
	margin-left: -43px;
}
.content_text ul li:before,
.content_text2 ul li:before {
	content: "";
	padding: 0px 8px;
	background-image: url(../img/arrow_top.png);
	list-style: none;
	background-repeat: no-repeat;
	margin: 0 5px;
}
.content_text2 ul li{
	margin: 0;
	display: inline-block;
	background: #EBF1F8;
	border-radius: 4px;
	padding: 9px;
	margin-right: 30px;
	color:#6E7988;
	font-size: 0.800rem;
	font-weight: 400;
	text-align: center;
	margin-left: 10px;
}
.content_text ul li {
	margin: 0;
	display: inline-block;
	background: #EBF1F8;
	border-radius: 4px;
	padding: 9px;
	margin-right: 20px;
	color:#6E7988;
	font-size: 0.800rem;
	font-weight: 400;
	text-align: center;

} 

.content_img ul {
	border: 1px solid red;
	width: 455px;
	border-radius: 0px 0px 4px 4px;
	border: 1px solid #E6E9EE;
	border-top: 1px solid white;
}

#mision .content_img li {
	list-style: none;
	color: #6E7988;
	font-size: 0.875rem;
	margin: 10px 0;
}


#mision .container p {
	max-width: 550px;
	font-weight: 400;
	color:#143561;

}

#consulting {
	min-height: 267px;
	background: #EBF1F8;
}
footer {
	min-height: 300px;
	background-color: #0E2536;
	color: #FFFFFF;
}
footer li, footer p {
	opacity: 0.5;
}
.arrow {
	width: 44px;
	height: 44px;
	padding: 4px 9px;
	border: 1px solid #E6E9EE;
	font-size: 18px;
	color: #0067B4;
	font-weight: bold;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	float: right;
	margin: 5px 5px;
	display: block;
}
.arrow.active, .arrow:hover {
	padding: 4px 9px;
	border: 2px solid #0067B4;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	color: #0067B4;
	text-decoration: none;
}

.arrowRight {
	background-image: url(../img/arrow.png);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.arrowLeft {
	background-image: url(../img/arrow.png);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

#slider_goods {
	margin-bottom: 141px;
}

#slider_goods h2,
#slider_photo h2 {
	font-weight: bold;
	font-size: 30px;
	line-height: 140%; 
	color: #143561;
	float: left;
}




.otstupit {
	margin-top: 50px;
}
.slider,
.slider2 {
	position: relative;
	overflow: hidden;
}

.slider__wrapper,
.slider__wrapper2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: -webkit-transform 0.6s ease;
	transition: -webkit-transform 0.6s ease;
	-o-transition: transform 0.6s ease;
	transition: transform 0.6s ease;
	transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.slider__item,
.slider__item2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20.1%;
	flex: 0 0 20.1%;
	max-width: 50%;
}



.slider__control_show,
.slider__control_show2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}


.slider__item>div,
.slider__item2>div {
	border: 1px solid #E6E9EE;
	border-radius: 5px;
	margin: 0 10px;
	background-repeat: no-repeat!important;
	background-size: cover!important;
}
.slider__item div:hover,
.slider__item2 div:hover{
	border: none;
	margin: 0 1px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.slider__item:hover,
.slider__item2:hover {
	border-radius: 5px;
	border: 0.5px solid silver;
}
.slider_info,
.slider_info2 {
	display: block;
	min-height: 119px;
	border-radius: 5px;
	border-top: 0!important;
}
.slider_info p {
	font-weight: 600;
	font-size: 20px;
	display: block;
	text-align: center;
	padding: 20px 0 0 0;
	color: #143561;
}
.slider_info span {
	font-size: 14px;
	color: #6E7988;
	display: block;
	margin: 4px 25px; 
}

.slider_info a { 
	-webkit-transition: 1s; 
	-o-transition: 1s; 
	transition: 1s; 
	margin: 10px 0 24px 0px;
	text-decoration: none;
	opacity: 0.7;
	padding: 10px 25px ;
	-webkit-filter: grayscale(1);
	filter: grayscale(1); 
	display: block;
} 
.slider_info a:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	opacity: 1;
} 
.slider_info a:hover::before {
	content: " Подробнее ";
	text-decoration: none;
}

.slider_info a::after {
	content: "";
	background-image: url(../img/slider_kvartir/arrow_svg.png);
	background-repeat: no-repeat;

	width: 17px;
	height: 12px; 
	position: absolute;
	bottom: 15px;
}

.main_article {
	display: block;
	margin: 0 auto;
	max-width: 1135px;
	height: auto;
	margin-bottom: 118px; 
	overflow: hidden;
}
.main_article img {
	max-width: 443px;
	margin: 0 10px;
}
article h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.75rem;
	font-weight: 700;
	color: #143561;
}
article p {
	max-width: 470px;
	display: block;
	margin: 53px 0 62px 0;
	font-size: 0.875rem;
	color: #143561;
}

article a {
	color: #0067B4;
	font-size: 14px;
	position: relative;
	padding: 0 0px;
}
article a::after {
	content: "";
	background-image: url(../img/slider_kvartir/arrow_svg.png);
	background-repeat: no-repeat;

	width: 17px;
	height: 12px; 
	position: absolute;
	top: 5px;
	right: -27px;
	color: #0067B4;
	font-size: 0.875rem;
}

/*дата експлуатации*/
.data_expl {
margin-top: 25px;
background: #EBF1F8;
border-radius: 4px;
padding: 10px 20px;
color: #143561;

}

/*для страницы с услугами*/
.usluga_info p{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	max-width: 455px;
	margin-bottom:20px;
	font-weight: 400;
}

.usluga_info .img-right p {
	margin-right: 115px;
}
.usluga_info .img-left p,
.usluga_info .img-left li {
	margin-left: 9px;
	max-width: 550px;
}
.usluga_info .img-left ul {
	margin: 0;
	padding: 0;
	margin-top: 30px;
}
.usluga_info .img-left li {
	list-style: none;
	margin-bottom: 15px;
	color: #6E7988;	
}
.usluga_info .img-left li::before {
	color: #0067B4; /* Цвет маркера */
	/*content: "•";  Сам маркер */
	content: " ";
	background-image: url(../img/listStyle.png);
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	padding-right: 20px;
	margin-right: 5px;
	background-position: center;
} 
.usluga_info .img-left img {
	max-width: 455px;
	height: 377px;
}
.usluga_info .img-right img {
	max-width: 550px;
}

.usluga_info a {
	margin-top: 50px;
	padding: 15px 35px;
	background: #0067B4;
	color: #fff;
	font-size: 1rem;
	position: initial;
	display: block;
	width: max-content;
	border-radius: 4px;
}
.usluga_info a::after {
	visibility: hidden;
}

.page_preimushestva img{
	padding: 13px 20px;
	border: 1px solid #E6E9EE;
	box-sizing: border-box;
	border-radius: 4px;
}
.page_preimushestva p{ 
	font-weight: 600;
	font-size: 1rem;
	line-height: 130%;
	display: flex;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	color: #143561;
	max-width: 164px;
	margin-top: 16px;
}


/*Страница Объектов*/

.object {
	max-width: 100%;
	height: 370px;
	background: #FFFFFF;
	border: 1px solid #E6E9EE;
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 20px;
	position: relative;

}
.object:hover {
	border: 1px solid #ADBDD2; 
}

#slider_uslug .col-6 {
	padding-left: 0!important;
}
.object .wrap{
	display:inline-grid;
	width: 585px; 
	height: auto;
	margin: 50px 80px ;
	padding: 0;

}
.object h3{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 100%;
	float: left;
	color: #143561; 
	margin-bottom: 20px;
}
.header_wrap,
.body_wrap {
	border-bottom: 1px solid #E6E9EE;
}
.body_wrap a {
	float: left;
}
.footer_wrap {
	height: 106px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	align-items: end;
	justify-items: start;
}
.footer_wrap a {
	float: left;
	clear: both;
}

.ar {
	content: " ";
	background-image: url(../img/slider_kvartir/arrow_svg.png);
	background-repeat: no-repeat;
	width: 17px;
	height: 12px;
	position: absolute;
	bottom: 5px;
	left: 0px;
	font-size: 14px;
	color: #0067B4;
	transition: 0.5s;
}
.wrap p {
	font-size: 14px;
	line-height: 150%;
	margin: 10px 0;
	padding: 10px 0;
	display: flex;
	align-items: center;
	color: #6E7988;
	margin-right: 20px;
}
.wrap span {
	font-size: 14px;
	line-height: 150%;
	font-weight: 400;
	display: flex;
	align-items: center;
	color: #143561;
	margin-left: 8px;
}

.object a {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
	color: #0067B4;
}
.object .price {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	display: flex;
	align-items: center;
	margin-left: -90px;
	color: #6E7988; }
	.object .price {
		color: #0067B4;
	}
	.object .sdacha {
		font-family: Roboto, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
		color: #6E7988;
		float: right;
	} 
	.object .body_wrap p {
		float: left;
	}

	.object hr{ 
		border-bottom: 1px solid #E6E9EE;
		width: 100%;
		opacity: 0.3;
	}


	.object img {
		float: left;
		max-width: 379px;
		height: 370px;
		border-radius: 3px 0px 0px 3px;
		margin: 0;
		padding: 0;
	}


	.experiense_header {
		font-size: 14px!important;
		color: #6E7988!important;
		margin: 0;
	}
	.experiense_years {
		font-size: 40px;
		margin: 0;
		font-weight: bold;
	}
	.experiense, 
	.work_done {
		display: inline-block;
		max-width: 215px;
		height: auto;

		margin-right: 90px;
	}




	/* User styles */
	@media screen and (min-width: 911px) {
		.ant-carousel {
			/*  max-width: 810px;*/
		}
	}

	@media screen and (min-width: 641px) and (max-width: 910px) {
		.ant-carousel {
			max-width: 540px;
		}
	}

	@media screen and (max-width: 640px) {
		.ant-carousel {
			max-width: 270px;
		}
	}

	.ant-carousel {
		margin: 0px auto auto;
		padding-top: 10px;
		border: 0px solid #fff;
	}

	.ant-carousel-element {
		max-width: 265px;
		margin: 0 10px;
		text-align: center;
		border: 0.2px solid #E6E9EE;
		position: relative;
		border-radius: 4px;
	}
	#slider_photo .ant-carousel-element:hover {
		border: 1px solid #ADBDD2;
		border-radius: 4px;
	}
	.ant-carousel-element p {
		max-height:320px;
		width: 450px;
		margin: 60px 0px;
	} 
	.ant-carousel-element::before {
		content: "";
		width: 70%;
		/*	width: 100%;*/
		height: 2px;
		background: #0067B4;
		display: none;
		margin: 0 auto;
		position: absolute;
		left: 15%;
		top: -0px;
		border-radius: 10px;
	}
	.ant-carousel-element [src*="diplom"] {
		padding: 41px 51px;
		height:320px;
	} 
	.ant-carousel-element [src*="diplom"]:hover {
		border: 1px solid #ADBDD2, 100 %;
		transition: 1s;
	}
	.ant-carousel-element:hover::before {
		content: "";
		width: 70%;
		/*	width: 100%;*/
		height: 2px;
		background: #0067B4;
		display: block;
		margin: 0 auto;
		position: absolute;
		left: 15%;
		top: -0px;
		border-radius: 10px;
	}



	/* General styles */
	.ant-carousel {
		width: auto;
		position: relative;
	}

	.ant-carousel-hider {
		/* overflow: hidden;*/
		margin-left: -205px;
	}

	.ant-carousel-list {
		width: auto;
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.ant-carousel-element {
		display: block;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}







	div.ant-carousel-dots {
		width: 100%;
		height: auto;
		position: absolute;
		left: 0;
		bottom: -30px;
		z-index: 30;
		text-align: center;
	}

	span.ant-dot {
		width: 10px;
		height: 10px;
		margin: 5px 7px;
		padding: 0;
		display: inline-block;
		background-color: #BBB;
		border-radius: 5px;
		cursor: pointer;
	}
	#slider_photo {
		margin-bottom: 150px;
	}
	#slider_uslug .uslugi-list a{
		color: #143561;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
	#slider_uslug .uslugi-list p {
		margin: 60px 50px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 20px;

	} 































	#slider_uslug .uslugi-list {
		font-family: 'Montserrat', sans-serif;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: 1fr;
		grid-auto-columns: 1fr 1fr;
		grid-auto-rows: 1fr;
		grid-gap: 20px;
		margin: 0;
		margin-left: -3rem;
	}

	.uslugi-list .ant-carousel-element {
		max-width: 550px;
		margin: 0;
	}


	.uslugi-list .ant-carousel-element:hover {
		border: 1px solid #ADBDD2;
	}

	#slider_uslug .choose {
		margin-bottom: 50px;
	}
	.mb-150 {
		margin-bottom: 150px;
	}
	.mb-100 {
		margin-bottom: 100px;
	}
	#slider_uslug .blocks li {
		max-width: 550px;
		height: 258px;
		overflow: hidden;
		border-radius: 9px;
		margin-right: 20px;
		margin-bottom: 20px;
		border: 1px solid #E6E9EE;

		font-weight: 500;
		font-size: 1.25rem;
		padding: 8px 50px;
		text-align: left; 
		position: relative;
		filter: grayscale(1);
	}
	#slider_uslug .blocks li:hover {
		border: 1px solid #ADBDD2;
		filter: grayscale(0);
	}
	#slider_uslug .blocks li p::after {
		content: "Подробнее";
		background-repeat: no-repeat;
		width: 17px;
		height: 12px; 
		position: absolute;
		bottom: 24px;
		left: 50px;
		font-size: 0.875rem;
		color: #0067B4;
		font-weight: 400;
	}
	#slider_uslug .blocks li a::after {
		content: "  ";
		background-image: url(../img/slider_kvartir/arrow_svg.png);
		background-repeat: no-repeat;
		width: 17px;
		height: 12px; 
		position: absolute;
		bottom: 20px;
		left: 140px;
		font-size: 14px;
		color: #0067B4;
	}

	.paginator li{
		list-style: none;
		padding: 0;
		margin: 0 5px;
		display: inline-grid;
		width: 32px;
		height: 32px;
		text-align: center;
		border: 1px solid #E6E9EE;
		box-sizing: border-box;
		border-radius: 4px;
		align-content: center;
		cursor: pointer;
	}
	.paginator li:hover {
		border: 1px solid #ADBDD2!important;
	}
	.paginator .active {
		border: 1px solid #ADBDD2!important;
		box-sizing: border-box;
		border-radius: 4px;
		color: #143561!important;
	}
	.paginator {
		text-align: center;
		margin-bottom: 150px;
		margin-top: 65px;
		color: #6E7988!important;
	}


	#second {
		margin-bottom: 50px;
	}


	#consulting .choose {
		border:none;
	}
	#consulting h2 {
		margin-top: 50px;
		margin-bottom: 40px;
	}

	#consulting b{	
		position: absolute;
		top: -12px;
		left: 20px;
		height: 21px;
		font-size: 13px;
		font-weight: 400;
		border-radius: 7px;
		margin-left: 20px;
		color: #6E7988;
	}
	#consulting input {
		max-width: 266px;
		border: 1px solid #ADBDD2;
		border-radius: 5px;
		margin: 0!important;
		border-top: 0;
		font-size: 12px;
		padding: 5px; 
		padding-left: 20px;
		margin-right: 20px;
		height: 45px;
	}
	input {outline:none;}
	#consulting input::-webkit-input-placeholder {
		color: #ADBDD2; 
	}
	form {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: (1fr)[4];
		grid-template-columns: repeat(4, 1fr);
	}
	.form-ctrl {
		position: relative;
		display: -ms-inline-grid;
		display: inline-grid;
		margin-right: 20px;
	}
	.form-ctrl span {
		float: right;
		font-size: 12px;
		color: #797979;
		width: 268px;
		cursor: pointer;
	}
	.form-ctrl s {
		font-size: 12px;
		color: #578BBF;
		text-decoration: underline;
	}

	.form-ctrl button {
		margin-left: 20px;	
		width: 177px;
		color: white;
		background-color: #0067B4;
		border-radius: 5px;
		border:1px solid #0067B4;
		font-size: 16px;
		height: 45px;
	}

	footer hr {
		background-color: white;
		opacity: 0.1;
	}

	footer img {
		margin:47px 0 28px 0; 
	}
	footer p{
		font-size: 14px;
		color: white;
		opacity: 0.5;
	}
	footer .navi {
		margin-top: 60px;
	}
	footer .navi a {
		color: white;
	}
	footer .navi li {
		margin-bottom: 20px;
		font-size: 14px;
		list-style: none;	
		opacity: 0.5;
	}
	.show_map, .getTel{
		color: #578BBF!important;
		text-decoration: underline;
		opacity: 1!important;
	}
	.footerInfo {
		font-size: 12px;
		opacity: 0.5;
	}
	.footerInfo a {
		color: white!important;
		border-bottom: 1px solid white;
	}


	div, section, article, header {
		/*border:1px solid green;*/
	}





	/*Блок услуги развернутый*/
	.uslugi_news_wrapper {
		background: linear-gradient(0deg, #EBF1F8, #EBF1F8);
		border-radius: 3px 3px 0px 0px;
		height: 339px;
		margin-bottom: 60px;

	}
	.uslugi_news_wrapper h1{
		max-width: 809px;
		font-weight: 600;
		font-size: 3.025rem;
		margin-bottom:59px;
		color: #143561;
	}