

	/*media zaprosi*/
	@media screen and (max-width: 520px) {

		.breadcrumb {
			margin: 0;
			padding: 15px;
		}

		article h3 {
			font-family: 'Montserrat', sans-serif;
			font-size: 1.5rem;
			text-align: center;
		}
		article p {
			max-width: 470px;
			display: block;
			margin: 40px 0 5px 0;
			font-size: 0.875rem;
			color: #143561;
			text-align: center;
		}
		.experiense, .work_done {
			max-width: 100%;
			margin: 5px;
			font-size: 2.0rem;
			text-align: center;
			display: block;
			vertical-align: middle;
		}
		.experiense_years {
			font-size: 2.0rem;
		}
		.main_article img {
			display: none;
		}
		article a {
			display: block;
			margin: 5px auto;
			text-align: center;
		}
		.offer_info h1 {
			font-size: 1.5rem;
		}
		.offer_info {
			text-align: center;
			margin: 10px;
		}
		.offer_info a {
			display: block;
			margin: 0 auto;
		}
		#offer {
			min-height: auto;
			margin-bottom: 10px;
		}
		.toTop {
			bottom: 5%;
			right: 15px;
		}
		.arrow {
			width: 46%;
		}

		.ant-carousel-element{
			text-align: center;
		}

		#slider_photo .ant-carousel-element,
		#slider_plan img:hover, #slider_photo .ant-carousel-element:hover {
			border: none;
		}
		.content_text ul {
			grid-template-columns: repeat(1,1fr);
			margin: 5px auto;
			padding: 0;
		}
		.content_text ul li {
			margin: 5px auto;
			width: 100%;
		}
		
		#slider_uslug .choose a {
			position: revert!important;
			text-align: center;
			float: none;
			display: block;
		}
		#slider_uslug h2 {
			float: none;
			text-align: center;
		}
		#slider_uslug .blocks2 li {
			max-width: 311px!important;
			margin-right: 0;
			margin-bottom: 5px;
		}
		#slider_uslug .blocks li {
			max-width: 430px!important;
			margin-right: 0;
			margin-bottom: 5px;
		}
		#slider_uslug .blocks1 li {
			max-width: 452px!important;
			margin-right: 0;
			margin-bottom: 5px;
		}
		.usluga_info .img-left li::before {
			background-image: none;
			padding: 0;
		}

		.uslugi_news_wrapper h1 {
			font-size: 2.505rem;
		}
		#slider_uslug .ant-carousel-element p {
			width: 100%;
			margin: 30px 0px;
			padding: 10px;
			text-align: center;
		}
		#consulting h2 {
			text-align: center;
		}
		#consulting {
			height: auto;
		}
		form {
			-ms-grid-columns: (1fr)[1];
			grid-template-columns: repeat(1, 1fr);
		}
		.form-ctrl {
			margin: 0;
			margin-bottom: 10px;
			text-align: center;
		}
		.form-ctrl b{
			display: none;
		}
		#consulting input {
			max-width: 100%;
			display: block;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		.form-ctrl button {
			margin: 0;
			width: 100%;
		}
		.form-ctrl span {
			width: auto;
		}
		footer img,
		footer p,
		footer li,
		footer ul,
		footer .navi,
		.nav_link
		{
			padding: 0;
			margin: 0;
			display: block;
			margin: 10px auto;
			text-align: center;

		}
		article a::after {
			background-image: none;
		}
		#slider_photo .ant-carousel-hider {
			margin-left: -48px!important;
		}
		#slider_uslug .blocks li a::after {
			background-image: none;
		}
		#slider_uslug .blocks li p::after {
			width: 100%;
			display: block;
			margin: 0 auto;
			left: 0;
			right: 0;
			text-align: center;


		}
		.ant-carousel-hider {
			margin: 0;
		}
		.navbar-brand {
			float: left;
			display: block;
			margin: 0;
		}
		.object {
			height: 98%;
			margin-bottom: 10px;
		}
		.object img {
			height: auto;
		}
		.object .wrap {
			margin: 10px;
			padding: 10px;
		}
		.object img {
			display: block;
			height: auto;
			float: none;
			width: 100%;
			margin: 10px auto;
		}
		.object h3 {
			float: none;
			text-align: center;
		}
		.object .wrap {
			width: 100%;
			margin: 0;
		}
		.object .body_wrap p {
			float: none;
		}
		.wrap p {
			-webkit-box-align: baseline;
			-ms-flex-align: baseline;
			align-items: baseline;
			margin-right: 15px;
		}
		.footer_wrap {
			display: -ms-grid;
			display: grid;
			-ms-grid-columns: (1fr)[1];
			grid-template-columns: repeat(1,1fr);
			justify-items: legacy;
		}
		.ar {
			background-image: none;
		}
		.object .price {
			margin: 10px auto;
			display: block;
		}
		#consulting {
			padding: 10px;
		}
		#slider_uslug .uslugi-list {
			-ms-grid-columns: 1fr;
			grid-template-columns: repeat(1,1fr);
			grid-auto-columns: 1fr;
			margin: 10px 0;
			padding: 0 10px;
		}
		.mb-150 {
			margin-bottom: 20px;
		}
		.mb-100 {
			margin-bottom: 20px;
		}
		.uslugi_news_wrapper {
			margin-bottom: 0;
		}
		.uslugi_news_wrapper h1 {
			text-align: center;
		}


		.usluga_info .img-right p {
			margin: 10px 0;
		}
		.usluga_info a {
			margin: 20px auto;
			width: 100%;
		}
		.usluga_info .img-left p, .usluga_info .img-left li {
			padding: 10px;
			text-align: center;
		}
		.page_preimushestva img{
			display: block;
			margin: 10px auto;
		}
		.page_preimushestva p {
			text-align: center;
			display: block;
			margin: 10px auto;
			max-width: 100%;
			width: 100%;
		}

		.content_text2 ul {
			display: -ms-grid;
			display: grid;
			-ms-grid-columns: (1fr)[2];
			grid-template-columns: repeat(2,1fr);
			grid-row-gap: 10px;
			
		}
		.content_text2 ul li {
			font-size: 0.600rem;
			width: 90%;
		}
		#offer2 {
			top: -5px;
			margin-bottom: 10px;
		}
		.slid {
			width: 100%; 
		}
		.slid a,
		.slid div {
			margin-right: 10px;
		}
		.obj_wrap {
			max-width: 550px;
			width: 100%;
			margin: 20px auto;
		}
		.data_expl {
			width: 100%;
			max-width: 100%;
			text-align: center;
		}
		.obj_wrap hr {
			margin: 0;
		}
		.experiense_header {
			font-size: 0.65rem !important;
		}
		.obj_wrap .experiense, .work_done {
			margin-right: 0px;
			margin: 10px 2px;
			display: block;
			vertical-align: middle;
		}
 
		.list-group {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			text-align: center;
		}
		.list-group-item {
			margin: 5px 0;
		}
		#tabs hr {
			margin: 10px 0;
		}
		.tab-pane {
			padding: 10px;
		}
		.prem {
			padding: 0;
			-ms-grid-columns: 0.5fr 20px 0.5fr;
			grid-template-columns: repeat(2,0.5fr);
		}
		.map {
			padding: 10px;
		}

		.docs {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
		.docs a {
			color: #6E7988;
			font-size: 0.805rem;
		}
		.arrowPlace {
			width: 100%;
		}
		  
		.block_raschet .form-ctrl {
			display: block;
			margin: 10px auto;
		}
		#mision .content_text {
			padding: 0 15px;
		}
		.choose h2 {
			text-align: center;
			width: 100%;
		}
		#mision {
			margin-bottom: 20px;
		}
		#offer2 .breadcrumb {
			margin-top: 0px;
		}
		#slider_plans img {
			width: 100%;
		}
		#slider_plan {
			display: none;
		}
		.usluga_info {
    width: 100%;
    padding: 27px;
}
.modal-content h2 {
	padding: 10px;
}

.modal-content .container span {
	position: unset!important;
}
.calc_info {
	font-size: 0.65rem;
}

	}

















	/*media zaprosi*/
	@media screen and (max-width: 400px) {

		.breadcrumb {
			margin: 0;
			padding: 15px;
		}

		article h3 {
			font-family: 'Montserrat', sans-serif;
			font-size: 1.5rem;
			text-align: center;
		}
		article p {
			max-width: 470px;
			display: block;
			margin: 40px 0 5px 0;
			font-size: 0.875rem;
			color: #143561;
			text-align: center;
		}
		.experiense, .work_done {
			max-width: 100%;
			margin: 5px;
			font-size: 2.0rem;
			text-align: center;
			display: block;
			vertical-align: middle;
		}
		.experiense_years {
			font-size: 2.0rem;
		}
		.main_article img {
			display: none;
		}
		article a {
			display: block;
			margin: 5px auto;
			text-align: center;
		}
		.offer_info h1 {
			font-size: 1.5rem;
		}
		.offer_info {
			text-align: center;
			margin: 10px;
		}
		.offer_info a {
			display: block;
			margin: 0 auto;
		}
		#offer {
			min-height: auto;
			margin-bottom: 10px;
		}
		.toTop {
			bottom: 5%;
			right: 15px;
		}
		.arrow {
			width: 46%;
		}

		.ant-carousel-element{
			text-align: center;
		}

		#slider_photo .ant-carousel-element,
		#slider_plan img:hover, #slider_photo .ant-carousel-element:hover {
			border: none;
		}
		.content_text ul {
			grid-template-columns: repeat(1,1fr);
			margin: 5px auto;
			padding: 0;
		}
		.content_text ul li {
			margin: 5px auto;
			width: 100%;
		}
		
		#slider_uslug .choose a {
			position: revert!important;
			text-align: center;
			float: none;
			display: block;
		}
		#slider_uslug h2 {
			float: none;
			text-align: center;
		}
		#slider_uslug .blocks2 li {
			max-width: 311px!important;
			margin-right: 0;
			margin-bottom: 5px;
		}
		#slider_uslug .blocks li {
			max-width: 310px!important;
			margin-right: 0;
			margin-bottom: 5px;
		}
		#slider_uslug .blocks1 li {
			max-width: 311px!important;
			margin-right: 0;
			margin-bottom: 5px;
		}
		.usluga_info .img-left li::before {
			background-image: none;
			padding: 0;
		}

		.uslugi_news_wrapper h1 {
			font-size: 2.505rem;
		}
		#slider_uslug .ant-carousel-element p {
			width: 100%;
			margin: 30px 0px;
			padding: 10px;
			text-align: center;
		}
		#consulting h2 {
			text-align: center;
		}
		#consulting {
			height: auto;
		}
		form {
			-ms-grid-columns: (1fr)[1];
			grid-template-columns: repeat(1, 1fr);
		}
		.form-ctrl {
			margin: 0;
			margin-bottom: 10px;
			text-align: center;
		}
		.form-ctrl b{
			display: none;
		}
		#consulting input {
			max-width: 100%;
			display: block;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		.form-ctrl button {
			margin: 0;
			width: 100%;
		}
		.form-ctrl span {
			width: auto;
		}
		footer img,
		footer p,
		footer li,
		footer ul,
		footer .navi,
		.nav_link
		{
			padding: 0;
			margin: 0;
			display: block;
			margin: 10px auto;
			text-align: center;

		}
		article a::after {
			background-image: none;
		}
		#slider_photo .ant-carousel-hider {
			margin-left: -15px!important;
		}
		#slider_uslug .blocks li a::after {
			background-image: none;
		}
		#slider_uslug .blocks li p::after {
			width: 100%;
			display: block;
			margin: 0 auto;
			left: 0;
			right: 0;
			text-align: center;


		}
		.ant-carousel-hider {
			margin: 0;
		}
		.navbar-brand {
			float: left;
			display: block;
			margin: 0;
		}
		.object {
			height: 98%;
			margin-bottom: 10px;
		}
		.object img {
			height: auto;
		}
		.object .wrap {
			margin: 10px;
			padding: 10px;
		}
		.object img {
			display: block;
			height: auto;
			float: none;
			width: 100%;
			margin: 10px auto;
		}
		.object h3 {
			float: none;
			text-align: center;
		}
		.object .wrap {
			width: 100%;
			margin: 0;
		}
		.object .body_wrap p {
			float: none;
		}
		.wrap p {
			-webkit-box-align: baseline;
			-ms-flex-align: baseline;
			align-items: baseline;
			margin-right: 15px;
		}
		.footer_wrap {
			display: -ms-grid;
			display: grid;
			-ms-grid-columns: (1fr)[1];
			grid-template-columns: repeat(1,1fr);
			justify-items: legacy;
		}
		.ar {
			background-image: none;
		}
		.object .price {
			margin: 10px auto;
			display: block;
		}
		#consulting {
			padding: 10px;
		}
		#slider_uslug .uslugi-list {
			-ms-grid-columns: 1fr;
			grid-template-columns: repeat(1,1fr);
			grid-auto-columns: 1fr;
			margin: 10px 0;
			padding: 0 10px;
		}
		.mb-150 {
			margin-bottom: 20px;
		}
		.mb-100 {
			margin-bottom: 20px;
		}
		.uslugi_news_wrapper {
			margin-bottom: 0;
		}
		.uslugi_news_wrapper h1 {
			text-align: center;
		}


		.usluga_info .img-right p {
			margin: 10px 0;
		}
		.usluga_info a {
			margin: 20px auto;
			width: 100%;
		}
		.usluga_info .img-left p, .usluga_info .img-left li {
			padding: 10px;
			text-align: center;
		}
		.page_preimushestva img{
			display: block;
			margin: 10px auto;
		}
		.page_preimushestva p {
			text-align: center;
			display: block;
			margin: 10px auto;
			max-width: 100%;
			width: 100%;
		}

		.content_text2 ul {
			display: -ms-grid;
			display: grid;
			-ms-grid-columns: (1fr)[2];
			grid-template-columns: repeat(2,1fr);
			grid-row-gap: 10px;
			
		}
		.content_text2 ul li {
			font-size: 0.600rem;
			width: 90%;
		}
		#offer2 {
			top: -5px;
			margin-bottom: 10px;
		}
		.slid {
			width: 100%; 
		}
		.slid a,
		.slid div {
			margin-right: 10px;
		}
		.obj_wrap {
			max-width: 550px;
			width: 100%;
			margin: 20px auto;
		}
		.data_expl {
			width: 100%;
			max-width: 100%;
			text-align: center;
		}
		.obj_wrap hr {
			margin: 0;
		}
		.experiense_header {
			font-size: 0.65rem !important;
		}
		.obj_wrap .experiense, .work_done {
			margin-right: 0px;
			margin: 10px 2px;
			display: block;
			vertical-align: middle;
		}
		#slider_photo .ant-carousel-element {
			width: 100%;
		}
		.list-group {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			text-align: center;
		}
		.list-group-item {
			margin: 5px 0;
		}
		#tabs hr {
			margin: 10px 0;
		}
		.tab-pane {
			padding: 10px;
		}
		.prem {
			padding: 0;
			-ms-grid-columns: 0.5fr 20px 0.5fr;
			grid-template-columns: repeat(2,0.5fr);
		}
		.map {
			padding: 10px;
		}

		.docs {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
		.docs a {
			color: #6E7988;
			font-size: 0.805rem;
		}
		.arrowPlace {
			width: 100%;
		}
		  
		.block_raschet .form-ctrl {
			display: block;
			margin: 10px auto;
		}
		#mision .content_text {
			padding: 0 15px;
		}
		.choose h2 {
			text-align: center;
			width: 100%;
		}
		#mision {
			margin-bottom: 20px;
		}
		#offer2 .breadcrumb {
			margin-top: 0px;
		}
		#slider_plans img {
			width: 100%;
		}
		#slider_plan {
			display: none;
		}
		.usluga_info {
    width: 100%;
    padding: 27px;
}
.modal-content h2 {
	padding: 10px;
}

.modal-content .container span {
	position: unset!important;
}
.calc_info {
	font-size: 0.65rem;
}

	}

